.rounded-component {
    overflow-x: hidden;
    width: 99%;
    border-radius: 20px;
    background-color: #282c34;
    margin: 0 auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribute space evenly */
}

.input-bar {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.song-list {
    width: 100%;
    flex-grow: 1; /* Expand to fill available space */
}

.song-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.song-details {
    margin-left: 10px;
}

.song-slider {
    width: 100%;
}
